.idea
.classpath
.clj-kondo/*
!.clj-kondo/config.edn
.cpcache
.lsp/
lsp/
log/
.nrepl-history
.nrepl-port
.vscode
*.class
*.jar
*~
*.iml
/classes
/target
.calva
.DS_Store
.portal/
.env
.env.local
*.sqlite*
.aider*
.testcontainers.properties
output/
resources/public/css/output.*
*/manifest.edn
resources-hashed/
