{:{{main/ns}}.db/db
 {:jdbc-url #profile {{db-config}}}

 :{{main/ns}}.server/server
 {:options {:port #profile {:default 8000
                            :prod 80
                            :test #free-port true}
            :session-secret-key #profile {:default "test-secret-key"
                                          :prod #env SESSION_SECRET_KEY}
            :cookie-attrs-secure? #profile {:default false
                                            :prod true}
            :auto-reload? #profile {:default false
                                    :dev true}
            :cache-assets? #profile {:default false
                                     :prod true}}
  :db #ig/ref :{{main/ns}}.db/db}}
