{:{{ project-name }}.db/db
 {:jdbc-url #profile {% case db %}{% when sqlite %}{:default "jdbc:sqlite:db/{{ project-name }}.sqlite"
                      :test "jdbc:sqlite::memory:"}{% when postgres %}{:default #env DATABASE_URL
                      :dev "jdbc:postgresql://localhost:5432/localdb?user=test&password=test"
                      :test "jdbc:tc:postgresql:15.2-alpine3.17:///testdb?TC_DAEMON=true"}{% endcase %}}

 :{{ project-name }}.server/server
 {:options {:port #profile {:default 8000
                            :prod 80
                            :test #free-port true}
            :session-secret-key #profile {:default "test-secret-key"
                                          :prod #env SESSION_SECRET_KEY}
            :cookie-attrs-secure? #profile {:default false
                                            :prod true}
            :auto-reload? #profile {:default false
                                    :dev true}
            :cache-assets? #profile {:default false
                                     :prod true}}
  :db #ig/ref :{{ project-name }}.db/db}}
