
                         {:url "https://github.com/saadeghi/daisyui/releases/download/v5.0.28/daisyui.js"
                          :filepath "js/daisyui.js"}
                         {:url "https://github.com/saadeghi/daisyui/releases/download/v5.0.28/daisyui-theme.js"
                          :filepath "js/daisyui-theme.js"}