{:data-fn io.github.ontopro.clojure-stack-lite/data-fn
 :template-fn io.github.ontopro.clojure-stack-lite/template-fn
 :post-process-fn io.github.ontopro.clojure-stack-lite/post-process-fn
 :debug false
 :daisyui false
 :auth false
 :deploy :kamal
 :db :sqlite
 :transform
 [["src" "src/{{main/file}}"]
  ["test" "test/{{main/file}}"]
  ["resources_public_css_default" "resources/public/css"]]}
